body{
    background: rgb(77,88,77);
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000 ;
    text-align: center ;
    margin-top: auto;
    font-size: 25px;
    width: 100%;
    height: 100%;
}
.container p{
    color: #fff;
}
.area-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;  
}
.centralizar-area-titulo{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px 1px 1px;
    background-color:#51065C;
    width: 800px;
    height: 200px;
    padding: 5px;
}
.area-entrada-dados{
    width: 800px;  
}

.empresa{
    color: rgb(253, 249, 27);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;  
}
.area-entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.centralizar-area-entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.texto{
    width: 100%;  
    height: 20px;
}
.close{
    margin: 8px;
    cursor: pointer;
    color: red;
}
button{
    height: 28px;
    margin: 2px;
    color: whitesmoke;
    border: none;
    background-color: green;
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 4px;
}
.area-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
}
.centralizar-area-texto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 1px 1px  15px 15px;
}
#amigo{
    cursor: pointer;
}
footer{
margin:10px;
color: #fff;
text-align: center;
}
.checked {
    text-decoration: line-through;
    color: red;
    cursor: pointer;
}
@media screen and (min-width: 320px)
{
.area-titulo{
        font-size: 15px;
    }
    input{
        color: #fff;
    }
}
